/** {
  border: 1px solid red;
}*/

body {
  background: #6488A0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

h1 {
  font-size: 35px;
  margin-bottom: 5px;
}

h2 {
  font-size: 22px;
}

h1,h2,h3 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  border-left: #000;
}

.main {
  max-width: 800px;
  margin: 100px auto;
}


            /******* Side Bar *********/
.nav {
  background: #F5F5F5;
  width: 210px;
  display: inline-block;
  margin: 0 30px 0 0;
  border-radius: 20px;
  margin-top: 20px;
  vertical-align: top;
}

.left-text {
  position: relative;
  bottom: 8px;
  color: #919191;
  margin-left: 10px;
}

.name {
  color: #000;
  margin-bottom: 30px;
  margin-left: 10px;
}

.top-line {
  border-top: 1px solid #8E8E8E;
  margin: -15px 0;
}

                /********* Form *********/
.section {
  background: #F5F5F5;
  width: 500px;
  display: inline-block;
  border-radius: 20px;
  /*position: relative;
  left: 200px;*/
  margin-top: 20px;
}

.profile {
  text-align: center;
}

.inp {
  width: 350px;
  height: 35px;
  margin-top: 20px;
  padding-left: 10px;
  border: 1px solid #8E8E8E;
  border-radius: 5px;
  font-size: 20px;
  -webkit-appearance: none;
}

        /*** Button ****/
.update {
  background: linear-gradient(#9AD691, #3B962B);
  margin-top: 20px;
  width: 90px;
  height: 40px;
  border-radius: 20px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
  outline: none;
}
